<div class="auth-container">
  <md-card class="auth-form" ng-controller="AuthCtrl">
    <md-card-title>
      <md-card-title-text >
        <h1 layout="row">
          Login <span flex></span>
          <md-icon>lock</md-icon>
        </h1>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <form ng-submit="login(creds)" role="form">
        <md-input-container md-no-float class="md-block">
          <div class="error" ng-show="error">{{error}}</div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input type="email"
                 name="email"
                 id="email"
                 ng-model="creds.email"
                 placeholder="Email Address"
                 autofocus="true"
                 required/>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input type="password"
                 name="password"
                 id="password"
                 ng-model="creds.password"
                 placeholder="Password"
                 required/>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <md-button type="submit" class="block md-raised md-primary">Login</md-button>
        </md-input-container>
      </form>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content layout="row" layout-align="space-around center">
      <a href="" ui-sref="register">Not registered yet?</a>
      <a href="" ui-sref="register">Forgot password?</a>
    </md-card-content>
  </md-card>
</div>
