<!DOCTYPE html>
<html>
  <head>
    <title>COLORFUL</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    COLORFUL
    <%= javascript_include_tag 'application' %>
  </body>
</html>
